footer.footer
  .container
    .footer__top
      .footer__inner
        .footer__col
          .footer__logo.logo
            img(src=`${baseDir}/img/logo-white.png` alt="Savonry")
          .footer__info 
            | SAVONRY - бренд высококачественной и эффективной натуральной косметики с чистым растительным составом
          .socials
            a(href="#").socials__item
              +icon('vk','socials__icon')
        .footer__col
          .footer__title Каталог
          ul.footer__list
            li.footer__item
              a(href="#") Акции
              a(href="#") Новинки
              a(href="#") Лицо
              a(href="#") Ванна и душ
              a(href="#") Тело
            li.footer__item
              a(href="#") Волосы
              a(href="#") Для него
              a(href="#") Подарки
              a(href="#") Серии
              a(href="#") Аксессуары
        .footer__col
          .footer__title Для клиента
          ul.footer__list
            li.footer__item
              a(href="#") О нас
              a(href="#") Контакты
              a(href="#") Доставка и оплата
            li.footer__item
              a(href="#") Статьи
              a(href="#") Новости
              a(href="#") Оптовикам
    .footer__bottom
      .footer__copy Copyright @ 2018-2023 Savonry.
      .footer__payment.payment 
        img(src=`${baseDir}/img/payment/paykeeper.png` alt="Pay Keeper")
        img(src=`${baseDir}/img/payment/mastercard.png` alt="Master Card")
        img(src=`${baseDir}/img/payment/visa.png` alt="Visa")
        img(src=`${baseDir}/img/payment/mir.png` alt="Mir")